@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
}

#app {
    height: 100%;
    width: 100%;
    background-image: url('/assets/login_cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: white;
    letter-spacing: 0.1em;
    text-align: center;
}

form {
    box-shadow: 0 0 20px 0 black;
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    padding: 2rem;
    padding-inline: 3rem;
    max-height: 540px;
    max-width: 500px;
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inputs {
    margin-top: 20%;
    gap: 4rem;
    display: flex;
    flex-direction: column;
}

input {
    color: white;
    width: 100%;
    border: none;
    border-bottom: 2px solid white;
    border-color: white;
    outline: none;
    background-color: transparent;
    box-shadow: none;
    padding: 5px 0;
}

.inputs>div {
    position: relative;
    margin-left: 1rem;
}

.labels {
    font-size: 0.9rem;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease-in-out;
    user-select: none;
    cursor: text;
}



input:focus+.labels,
input:not(:placeholder-shown)+.labels {
    transform: scale(0.8) translate(-15%, -100%);
}

img {
    position: absolute;
    top: 20%;
    left: -9%;
}

button {
    position: absolute;
    bottom: 20%;
    padding: 15px 40px;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    width: 80%;
    letter-spacing: 0.1rem;
    transition: all 0.3s ease-in-out;
    background-color: transparent;
    color: white;
    border: 1px solid rgb(255 255 255 / 0.4);
    box-shadow: 0 0 20px rgb(255 255 255 / 0.15);
}

button:active {
    background-color: rgb(255 255 255 / 0.5);
}

#forgot {
    position: absolute;
    font-size: 0.85rem;
    right: 0;
    top: 120%;
    color: #a1a1a1;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: block;
    width: inherit;
}

#forgot:hover {
    color: white;
}